@media screen and (max-width: 767px) {
    :root
    {
        --font-size-h-small: calc(1.7 * var(--root-font-size));
        --font-size-h-medium: calc(2 * var(--root-font-size));
        --font-size-h-large: calc(3 * var(--root-font-size));
        --font-size-h-exlarge: calc(4 * var(--root-font-size));
    }

    .container
    {
        margin: 0 var(--spacing-2) var(--spacing-5) var(--spacing-2);
    }

    .mobile__style
    {
        font-size: var(--font-size-h-small);
        line-height:  0.83em;
        font-weight: 600;
    }

    /*spacing responsive*/
    .res-gap--1
    {
        gap: var(--spacing-1);
    }

    .res-gap--3
    {
        gap: 0;
    }

    .res-gap--08
    {
        gap: 0;
    }

    .res-spacing--1
    {
        flex-direction: column;
        gap: 3.5rem;
    }

    .res-spacing--2
    {
        margin-right: 0;
    }

    .res-spacing--3
    {
        margin: var(--spacing-6) auto;
    }

    .res-spacing--4
    {
        margin-bottom: var(--spacing-5);
    }

    .res-spacing--5
    {
        padding: var(--spacing-2) 1.2rem;
    }

    .res-spacing--6
    {
        padding: var(--spacing-6) 0;
    }

    .res-spacing--9
    {
        padding: var(--spacing--2);
    }

    .res-mtop--1
    {
        margin-top: 10rem;
    }

    .res-mtop--2
    {
        margin-top: var(--spacing-6);
    }

    .res-mbottom--2
    {
        margin-bottom: var(--spacing-6);
    }



    /*--responsive display*/
    .d-none-grid
    {
        display: grid;
    }
    .d-flex-none
    {
        display: none;
    }

    .d-flex-grid
    {
        display: grid;
    }
    
    .d-none-flex
    {
        display: flex;
    }

    .d-block-none
    {
        display: none;
    }

    .d-none-block
    {
        display: block;
    }

    .d-flex---row-cl
    {
        flex-direction: column;
    }

    /*---grid layout---*/
    .d-grid--layout2
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .d-grid--layout3
    {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        "item1 item1"
        "item3 item2";
    }


    /*---responsive position---*/
    .p--rt-st
    {
        position: static;
    }



    /*---another--*/
    .a-item--cs
    {
        align-items: start;
    }

    .j-content--sb-start
    {
        justify-content: center;
    }


    .toggle
    {
        display: inline-block;
    }

    .res-icon--change
    {
        content: url("../img/stock/Vector.png");
    }

    .res-menu {
        position: fixed;
        max-width: 33.6rem;
        grid-template-rows: 1fr auto;
        transition: 0.5s;
        visibility: hidden;
        height: calc(100vh - 10.2rem);
        top: 10.25rem;
    }

    .res-menu--2 
    {
        position: fixed;
        right: -100%;
        max-width: 33.6rem;
        width: 100%;
        grid-template-rows: auto 1fr auto;
        transition: 0.5s;
        height: calc(100vh - 10.2rem);
        top: 10.25rem;
    }

    .res-menu--form1{
        left: -100%;
    }


    .res-menu--bottom
    {
        width: 100%;
    }

    .res-menu--2.active
    {
        right: 0;
        visibility: visible;
    }

    .res-menu.active
    {
        left: 0;
        visibility: visible;
    }

    .res-menu--top
    {
        position: relative;
        padding: 3.2rem;

        overflow-x: hidden;
        overflow-y: scroll;
    }

    .sub-menu__container {
        top: 0;
        left: 0;
        background-color: var(--color-background1);
        height: calc(100vh - 10.2rem);
        width: 100%;
        transform: translateX(100%);
        border: 0;
    }

    .sub-menu__container.show {
        transform: translateX(0);
        opacity: 1;
    }

    .sub-menu__item
    {
        font-size: var(--font-size-h-small);
        line-height:  0.83em;
        font-weight: 600;
    }

    .res-menu--bottom-form1
    {
        padding: var(--spacing-5);
    }

    .banner__item
    {
        background: url(../img/Banner/Frame101.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-height: 39.8rem;
    }

    .banner__block
    {
        background: none;
    }

    .banner__item::after 
    {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .banner
    {
        margin-top: 9.7rem;
    }


    .email-form
    {
        align-items: center;
    }


    .footer-pay__content
    {
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
    }

    .footer-pay__button
    {
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-pay__icon
    {
        gap: 0.5rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer__block
    {
        flex-direction: column;
        gap: 4rem;

        padding: 0;
        margin: 4rem auto;
    }

    .power-by
    {
        font-size: 1rem;
        line-height: 1.3;
    }

}

@media screen and (max-width:376px) {
    .footer__email-form
    {
        max-width: 100%;
    }

    #email__Input
    {
        width: 100%;
    }
}