*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    margin: 0;

    font-family: 'Assistant', sans-serif;
}

.container
{
    margin: 0 var(--spacing-7) var(--spacing-7) var(--spacing-7);
}

/*spacing responsive*/
.res-gap--1
{
    gap: var(--spacing-5);
}

.res-gap--2
{
    gap: var(--spacing-5);
}

.res-gap--3
{
    gap: var(--spacing-2);
}

.res-gap--4
{
    gap: 1.2rem;
}

.res-gap--32
{
    gap: 3.2rem;
}

.res-gap--08
{
    gap: var(--spacing-1);
}

.res-gap--4
{
    gap: 0.6rem;
}


.res-spacing--2
{
    margin-right: 5.1rem;
}

.res-spacing--3
{
    margin: var(--spacing-7) auto;
}

.res-spacing--5
{
    padding: var(--spacing-4) var(--spacing-7);
}

.res-spacing--6
{
    padding: var(--spacing-7) var(--spacing-6);
}

.res-spacing--7
{
    padding: 3.2rem 1.6rem;
}

.res-spacing--8
{
    padding: var(--spacing-4);
}

.res-mtop--1
{
    margin-top: 7.1rem;
}

.res-mtop--2
{
    margin-top: var(--spacing-7);
}

.res-mbottom--2
{
    margin-bottom: var(--spacing-7);
}


.p--rt-st
{
    position: relative;
}

/*--responsive display*/
.d-none-block
{
    display: none;
}

.d-block-none
{
    display: block;
}

.d-none-grid
{
    display: none;
}

.d-flex-none
{
    display: flex;
}

.d-flex-grid
{
    display: flex;
}

.d-none-flex
{
    display: none;
}

.d-flex---row-cl
{
    flex-direction: row;
}

/*--grid layout*/
.d-grid--layout1
{
    grid-template-columns: auto 1fr auto;
}

.d-grid--layout2
{
    grid-template-columns: repeat(4, 1fr);
}

.d-grid--layout3
{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "item1 item1 item2"
    "item1 item1 item3";
}

.d-grid--layout3 .d-grid__item:nth-child(1)
{
    grid-area: item1;
}

.d-grid--layout3 .d-grid__item:nth-child(2)
{
    grid-area: item2;
}

.d-grid--layout3 .d-grid__item:nth-child(3)
{
    grid-area: item3;
}

.d-grid--layout4
{
    grid-template-columns: repeat(3, 1fr);
}

.d-grid--layout4 .d-grid__item:nth-child(1)
{
    grid-column: 1/3;
}

.d-grid--layout5
{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-template-areas: 
    "item1 item1"
    "item1 item1"
    "item2 item3"
    "item4 item5"
    "item6 item7"
    "item8 item9"
    "item10 item10"
    "item10 item10";
}

.d-grid--layout5 .d-grid__item:nth-child(1)
{
    grid-area: item1;
}

.d-grid--layout5 .d-grid__item:nth-child(2)
{
    grid-area: item2;
}

.d-grid--layout5 .d-grid__item:nth-child(3)
{
    grid-area: item3;
}

.d-grid--layout5 .d-grid__item:nth-child(4)
{
    grid-area: item4;
}

.d-grid--layout5 .d-grid__item:nth-child(5)
{
    grid-area: item5;
}

.d-grid--layout5 .d-grid__item:nth-child(6)
{
    grid-area: item6;
}

.d-grid--layout5 .d-grid__item:nth-child(7)
{
    grid-area: item7;
}

.d-grid--layout5 .d-grid__item:nth-child(8)
{
    grid-area: item8;
}

.d-grid--layout5 .d-grid__item:nth-child(9)
{
    grid-area: item9;
}

.d-grid--layout5 .d-grid__item:nth-child(10)
{
    grid-area: item10;
}






.a-item--cs
{
    align-items: center;
}

.j-content--sb-start
{
    justify-content: space-between;
}


/*Toggle-hbg menu responsive*/
.toggle
{
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 
{
    width: 2rem;
    height: 0.01rem;
    background-color: var(--color-accent1);
    transition: .4s;
    margin: 0.9rem auto;
}
  
.change .bar1 
{
    transform: translate(0, 0.9rem) rotate(-45deg);
}
  
.change .bar2 
{
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -0.9rem) rotate(45deg);
}

/*header go here*/
.header
{
    position: fixed;
    z-index: 999;
    top: 0;
}

.sub-menu__container {
    position: absolute;
    top: 50px;
    left: -2rem;
    background-color: var(--color-background1);
    border: 1px solid var(--color-border-light);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    opacity: 0;
}

.sub-menu--width--1
{
    width: 19.7rem;
}

.sub-menu--width--2
{
    width: 30rem;
}

.sub-menu__container.show {
    opacity: 1;
    visibility: visible;
}


/*Banner go here*/
.banner__item
{
    background: url(../img/Banner/Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 61.6rem;

    position: relative;
}

.banner__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.4);
    z-index: 1;
}

.banner__block
{
    max-width: 46.4rem;
    gap: 1rem;

    padding: 4rem;

    z-index: 2;
}

/*Content go here*/
.card:hover .card-img{
    transition: 0.3s;
    transform: scale(1.01);
    box-shadow: 0 10px 15px 0  rgba(0, 0, 0, 0.5);
}

.sale-icon
{
    position: absolute;
    left: var(--spacing-1);
    bottom: var(--spacing-1);

    padding: 0.4rem 1.2rem;

    background: #3752B2;
    border-radius: 9.9rem;
}



/*Stock go here*/
.d-grid__item--mi
{
    grid-column: 1/3;
    grid-row: 1/3;
}



/*video go here*/
.btn-play {
    transform: translate(-50%, -50%);
    width: 6.2em;
    height: 6.2em;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.play-button__img
{
    width: 1.8em;
    height: 2em;
}

/*footer go here*/
.email-form
{
    display: flex;
    flex-direction: column;
}

#email__Input
{
    width: 33.1rem;
    height: 4.8rem;
    padding: 1.4rem 1.6rem;

    border: 1px solid #7D7D7D;
}

.footer-pay__content
{
    justify-content: space-between;
}

.footer-pay__button
{
    gap: 2.4rem;
}

.select__list
{
    width: 13.9rem;
    padding: 1.25rem 0 1.25rem 1.1rem;
}

.select__list:focus,
.select__list:active,
.select__list:hover {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 0.5rem #555;
}

.select__list--width
{
    width: 9.2rem;
}

.footer-pay__icon
{
    gap: 2.6rem;
    padding-top: 1.28rem;
}

.footer-pay__icon--style
{
    width: 3.8rem;
    height: 2.4rem;
}


/*--tote bags--*/
.input-number
{
    width: 125px;
    height: 47px;

    padding: var(--spacing-2);
}

.input-number::before
{
    content: "$";
}

.checkbox
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 1.6rem;
    height: 1.6rem;

    border: 0.5px solid var(--color-accent1);
}

.checkbox:checked
{
    background-color: var(--color-accent1);
}
