html
{
    font-size: 62.5%;
}

.t-decor
{
    text-decoration: none;
}

.l-style
{
    list-style-type: none;
}

.d-flex
{
    display: flex;
}

.d-flex--cl
{
    flex-direction: column;
}

.a-item
{
    align-items: center;
}

.j-content
{
    justify-content: center;
}

.d-grid
{
    display: grid;
}

.f-weight
{
    font-weight: var(--font-weight);
}
.f-style
{
    font-style: normal;
}

.l-height--150
{
    line-height: var(--line-height-150);
}

.l-height--172
{
    line-height: var(--line-height-172);
}

.l-spacing--2
{
    letter-spacing: var(--letter-spacing-002);
}

.l-spacing--4
{
    letter-spacing: var(--letter-spacing-004);
}

.f-gap
{
    gap: 6.4rem;
}

.c--grey
{
    color: var(--color-grey);
}

.c--black
{
    color: var(--color-black);
}

.c--r-black
{
    color:var(--color-r-black)
}

.c--black2
{
    color: var(--color-black2);
}

.c--white
{
    color: var(--color-white);
}